* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background-color: #fbfbfa;
}

:root {
  --bg-color: #f4f5f4;
  --color-darkgreen: #1d4c56;
  --color-lightgreen: #45bc97;
  --color-badge: #96b099;
  --color-brown: #b4ab48;
  --color-darkbrown: #88600e;
  --color-lightbrown: #d1d092;
  --color-subheading: #08090acc;
  --color-blue: #3a88c8;
  --color-lightpink: #bca794;
  --color-black: #000;

  --text-white: #f4f5f4;
  --text-black: #09080a;
}

header {
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.221)
    ),
    url(./assets//bg-light.svg);
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center -85px;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 3rem;
  backdrop-filter: blur(15px);
  position: sticky;
  z-index: 1000;
  top: 0px;
}

.nav-logo-link-wrapper {
  display: flex;
  gap: 12rem;
  padding: 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
  cursor: pointer;
}

.link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.link li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.nav-button-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact-sales-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 9999px;
  border: none;
  background-color: rgba(200, 200, 200, 0.1);
  color: var(--text-black);
}

.start-for-free-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--text-white);
}



.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.badge {
  border-radius: 50px;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  background-color: #1818182e;
  width: fit-content;
  color: var(--text-white);
}

.badge span {
  padding: 0.125rem 0.5rem;
  background-color: #0c8c5e;
  border-radius: 50px;
  margin: 1px;
  font-size: 12px;
}
.badge p {
  font-size: 14px;
  font-weight: 600;
}
.badge svg {
  width: 1rem;
}


.hero h1 {
  width: 100%;
  max-width: 43rem;
  font-size: 55px;
  text-align: center;
  color: var(--text-white);
  font-weight: 600;
  line-height: 1.15;
  margin-top: 50px;
}


.subheading {
  color: var(--bg-color);
  margin-top: 24px;
  font-size: 18px;
  text-wrap: balance;
  line-height: 1.5rem;
  max-width: 29.5rem;
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

.hero form {
  margin-top: 2rem;
  padding: 0.25rem;
  width: 100%;
  max-width: 22.5rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  border-radius: 9999px;
  border: 1px solid var(--border-soft, #e5e7eb3b);
  background-color: var(--border-soft, rgba(237, 237, 237, 0.188));
  backdrop-filter: blur(12px);
}

form input {
  background-color: transparent;
  padding: 0px 0.5rem;
  outline: none;
  border: none;
  color: var(--bg-color);
  width: 100%;
}

form input::placeholder {
  color: #d6d6d6;
}

.email-cta-btn {
  justify-content: center;
  gap: 0.375rem;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-black);
  padding: 4.5px 12px;
  border-radius: 9999px;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
}

.hero-background-illustration {
  overflow: hidden;
  border-radius: 20px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
}
.hero-background-illustration img {
  border-radius: 10px;
}


.company-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 90px 0px;
  margin-top: 85px;
}

.company {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
}

.company-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  color: var(--color-black);
}



.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 0px;
  margin-bottom: 140px;
}
.feature p {
  text-align: center;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #585858;
}
.feature h1 {
  font-size: 38px;
}
.feature-card {
  margin-top: 50px;
  display: flex;
  gap: 24px;
  min-width: 500px;
}
.feature-card-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: fit-content;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 24px;
}
.feature-card-layout p,
h3,
h2 {
  text-align: start;
  text-wrap: balance;
  padding: 0px;
}

.feature-heading-main {
  font-weight: 500;
}
.green-small-heading {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  color: #0c8c5e;
  text-transform: uppercase;
}

.assistant-card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 30px;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.assistant-card .text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.assistant-card .text-wrapper p {
  padding: 0px;
}

.assistant-card img {
  margin-top: 100px;
}




.enterprise-feature {
  min-width: 500px;
  padding-top: 100px;
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f6f6f7;
}

.enterprise-header {
  display: flex;
  gap: 12rem;
  padding-bottom: 48px;
}

.enterprise-feature-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

.enterprise-feature-text-wrapper h1 {
  font-size: 40px;
}

.enterprise-feature-text-wrapper p {
  font-size: 16px;
}

.explore-for-enterprise-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 22px;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: var(--bg-color);
}

.enterprise-feature-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 50px;
}

.enterprise-feature-card h2 {
  margin: 32px 0px 16px 0px;
}
.enterprise-feature-card p {
  font-size: 16px;
  color: #08090acc;
}

.enterprise-feature-banner {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url(./assets/enterprise-feature-banner.png);
  height: 520px;
  width: 1028px;
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 4rem;
}

.enterprise-feature-banner:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets//enterprise-feature-banner.png);
}

.enterprise-small-heading {
  color: white;
  font-weight: 600;
}
.enterprise-feature-banner h2 {
  color: white;
  padding: 20px 0px 30px 0px;
  font-weight: 500;
  line-height: 1.3;
}
.enterprise-feature-banner p {
  color: white;
  font-weight: 500;
}
.enterprise-feature-banner p span svg {
  width: 10px;
  rotate: -90deg;
}
.feature-banner-text {
  margin-top: 8rem;
  display: flex;
  gap: 2.5rem;
}

.feature-banner-text .card h1 {
  color: var(--bg-color);
  font-weight: 400;
  font-size: 40px;
}
.feature-banner-text .card p {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
}

.enterprise-feature-company {
  display: flex;
  min-width: 1028px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding: 0px 24px;
}

.enterprise-feature-company .company-container img {
  filter: brightness(0) saturate(100%) invert(65%);
}
.enterprise-feature-company .company-container .anthropic {
  filter: none;
}
.enterprise-feature-company .company-container img:hover {
    filter:none;
    cursor: pointer;
}




.case-study {
  margin-bottom: 200px;
  padding-top: 90px;
}
.case-study-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px;
}
.case-study-heading h1 {
  font-size: 40px;
}
.case-study-heading p {
  font-size: 16px;
  color: var(--color-subheading);
  text-align: center;
  line-height: 1.5;
}

.carousel {
  overflow: hidden;
}

.track {
  margin: 0px 200px;
  display: flex;
  gap: 16px;
}

.carousel-card {
  max-width: 400px;
}

.image-container {
  background-size: 120% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 400px;
  height: 290px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.image-container img {
  filter: brightness(0) saturate(100%) invert(1);
}
.carousel-card p {
  color: var(--color-subheading);
}

.carousel-card button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 35px;
  color: #828385;
}
.carousel-card button span svg {
  width: 10px;
  rotate: -90deg;
}
.carousel-card button:hover {
  color: #0c8c5e;
  cursor: pointer;
}

.carousel-button {
  margin-top: 60px;
  text-align: center;
}

.carousel-button span {
  margin: 3px;
}




.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px;
}

.cta h1 {
  font-size: 39px;
  font-weight: 600;
}

.cta p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cta-btn {
  margin-top: 40px;
}

.get-started-btn {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: 9999px;
  border: 1px solid rgb(198, 198, 198);
  background-color: var(--color-black);
  color: var(--bg-color);
}

.cta-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-card .cta-card-icon {
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-card .cta-card-icon svg {
  width: 36px;
  color: #0c8c5e;
}

.cta-card h2 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.cta-card a {
  margin-top: 30px;
  text-decoration: none;
  color: #0c8c5e;
}

.cta-card a span svg {
  width: 10px;
  rotate: -90deg;
}

.cta-card-wrapper {
  display: flex;
  gap: 10rem;
  margin-top: 100px;
  position: relative;
}

.cta-card-wrapper::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 1%;
  bottom: 1%;
  width: 1px;
  background-color: #e5e5e5;
  transform: translateX(-50%);
}


footer {
    /* margin-bottom: 100px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(240, 240, 240);
}

.footer-head {
    min-width: 1028px;
    display: flex;
    justify-content: space-between;
    padding: 64px 32px 24px;
    border: 1px solid rgb(237, 237, 237);
}

.social-logo {
    color: #55555585;
    display: flex;
    gap: 1rem;
}

.social-links {
    display: flex;
    /* gap: 20px; */
    padding: 26px 26px;
    border: 1px solid rgba(237, 237, 237);
    border-top: none;
    width: 1028px;
    padding-bottom: 50px;
}

.social-links .links {
    margin: 20px;
    width: 100%;
}

footer .social-links .links p{
    font-size: 13.15px;
    margin-top:20px ;
    font-weight: 500;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
    height: 100px;
    padding: 40px;
    padding-left: 30px;
    gap: 1px;
    border: 1px solid rgba(237, 237, 237);
    border-top: none;
}

.end p{
  font-size: 14px;
  color: #8b8b8a;
}
.footer-end {
    display: flex;
    gap: 3px;
    justify-content: start;
    align-items: center;
    width: 1028px;
    border: 1px solid rgba(237, 237, 237);
    border-top: none;
    padding:30px 50px;
    padding-left: 30px;
}

.footer-end p{
  font-size: 15px;
  margin-right: 15px;
}

.footer-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #efeeee;
    padding: 5px 16px;
    border-radius: 50px;
    font-size: 13px;
}
.footer-badge span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c8c5e;
}

.footer-badge span svg {
    width: 20px;
}

.theme-toggle {
    background-color: #c1c1c161;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius:50px ;
    width: fit-content;
}

.theme-toggle button {
    border: none;
    background-color: transparent;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}